<?xml version="1.0" encoding="utf-8"?>
<cruise xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="cruise-config.xsd" schemaVersion="87">
  <server artifactsdir="artifacts" siteUrl="http://52.30.88.162:8153" agentAutoRegisterKey="b434a1ca-6bae-42e8-a8e1-d679cbef90e7" commandRepositoryLocation="default" serverId="718797b0-e0bc-4da4-8777-9a50362effa9" />
  <pipelines group="BuildAndPublishApplications">
    <pipeline name="Application1">
      <materials>
        <git url="https://github.com/hooperp/vocalink-test-app.git" materialName="Application1-SourceCode" />
      </materials>
      <stage name="stageBuildContainer-vocalink-test-app-1" cleanWorkingDir="true">
        <jobs>
          <job name="jobBuildContainer-vocalink-test-app-1">
            <tasks>
              <exec command="vocalink-test-app/src/BuildAndPublishApplication.sh">
                <arg>vocalink-test-app-1</arg>
                <arg>Build</arg>
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="stageSaveContainer-vocalink-test-app-1" fetchMaterials="false">
        <jobs>
          <job name="jobSaveContainer-vocalink-test-app-1">
            <tasks>
              <exec command="vocalink-test-app/src/BuildAndPublishApplication.sh">
                <arg>vocalink-test-app-1</arg>
                <arg>Save</arg>
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="stagePublishContainer-vocalink-test-app-1" fetchMaterials="false">
        <jobs>
          <job name="jobPublishContainer-vocalink-test-app-1">
            <tasks>
              <exec command="vocalink-test-app/src/BuildAndPublishApplication.sh">
                <arg>vocalink-test-app-1</arg>
                <arg>Publish</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
    </pipeline>
    <pipeline name="Application2">
      <materials>
        <git url="https://github.com/hooperp/vocalink-test-app.git" materialName="Application2-SourceCode" />
        <pipeline pipelineName="Application1" stageName="stagePublishContainer-vocalink-test-app-1" materialName="Application1-PublishContainer" />
      </materials>
      <stage name="stageBuildContainer-vocalink-test-app-2" cleanWorkingDir="true">
        <jobs>
          <job name="jobBuildContainer-vocalink-test-app-2">
            <tasks>
              <exec command="vocalink-test-app/src/BuildAndPublishApplication.sh">
                <arg>vocalink-test-app-2</arg>
                <arg>Build</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="stageSaveContainer-vocalink-test-app-2" fetchMaterials="false">
        <jobs>
          <job name="jobSaveContainer-vocalink-test-app-2">
            <tasks>
              <exec command="vocalink-test-app/src/BuildAndPublishApplication.sh">
                <arg>vocalink-test-app-2</arg>
                <arg>Save</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="stagePublishContainer-vocalink-test-app-2" fetchMaterials="false">
        <jobs>
          <job name="jobPublishContainer-vocalink-test-app-2">
            <tasks>
              <exec command="vocalink-test-app/src/BuildAndPublishApplication.sh">
                <arg>vocalink-test-app-2</arg>
                <arg>Publish</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
    </pipeline>
    <pipeline name="Application3">
      <materials>
        <git url="https://github.com/hooperp/vocalink-test-app.git" materialName="Application3-SourceCode" />
        <pipeline pipelineName="Application2" stageName="stagePublishContainer-vocalink-test-app-2" materialName="Application2-PublishContainer" />
      </materials>
      <stage name="stageBuildContainer-vocalink-test-app-3" cleanWorkingDir="true">
        <jobs>
          <job name="jobBuildContainer-vocalink-test-app-3">
            <tasks>
              <exec command="vocalink-test-app/src/BuildAndPublishApplication.sh">
                <arg>vocalink-test-app-3</arg>
                <arg>Build</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="stageSaveContainer-vocalink-test-app-3" fetchMaterials="false">
        <jobs>
          <job name="jobSaveContainer-vocalink-test-app-3">
            <tasks>
              <exec command="vocalink-test-app/src/BuildAndPublishApplication.sh">
                <arg>vocalink-test-app-3</arg>
                <arg>Save</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="stagePublishContainer-vocalink-test-app-3" fetchMaterials="false">
        <jobs>
          <job name="jobPublishContainer-vocalink-test-app-3">
            <tasks>
              <exec command="vocalink-test-app/src/BuildAndPublishApplication.sh">
                <arg>vocalink-test-app-3</arg>
                <arg>Publish</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
    </pipeline>
  </pipelines>
  <pipelines group="InstallApplications">
    <pipeline name="DeployEnvironment" isLocked="false">
      <materials>
        <git url="https://github.com/hooperp/vocalink-test-app.git" materialName="BuildEnvironment-SourceCode" />
        <pipeline pipelineName="Application3" stageName="stagePublishContainer-vocalink-test-app-3" materialName="Application3-PublishContainer" />
      </materials>
      <stage name="stageStopApplicationStack" cleanWorkingDir="true">
        <jobs>
          <job name="jobStopApplicationStack">
            <tasks>
              <exec command="./runit.sh" workingdir="vocalink-test-app/deploy">
                <arg>stop</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="stageDeleteApplicationStack" fetchMaterials="false">
        <jobs>
          <job name="jobDeleteApplicationStack">
            <tasks>
              <exec command="./runit.sh" workingdir="vocalink-test-app/deploy">
                <arg>"rm --force"</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="stageCreateApplicationStack" fetchMaterials="false">
        <jobs>
          <job name="jobCreateApplicationStack">
            <tasks>
              <exec command="./runit.sh" workingdir="vocalink-test-app/deploy">
                <arg>create</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="stageStartApplicationStack" fetchMaterials="false">
        <jobs>
          <job name="jobStartApplicationStack">
            <tasks>
              <exec command="./runit.sh" workingdir="vocalink-test-app/deploy">
                <arg>start</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
    </pipeline>
    <pipeline name="TestTheEnvironment" isLocked="false">
      <materials>
        <pipeline pipelineName="DeployEnvironment" stageName="stageStartApplicationStack" />
      </materials>
      <stage name="stageSleep" fetchMaterials="false">
        <jobs>
          <job name="jobSleep">
            <tasks>
              <exec command="/bin/sleep">
                <arg>20</arg>
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="stageEnvironmentTest" fetchMaterials="false">
        <jobs>
          <job name="jobEnvironmentTest">
            <tasks>
              <exec command="/usr/bin/curl">
                <arg>-v</arg>
                <arg>-L</arg>
                <arg>http://52.30.88.162:8081</arg>
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
    </pipeline>
  </pipelines>
  <environments>
    <environment name="vocalink-demo">
      <environmentvariables>
        <variable name="DOCKER_USERNAME">
          <value>phooper0001</value>
        </variable>
        <variable name="RANCHER_ACCESS_KEY">
          <value>097B622B52BE6CED73A1</value>
        </variable>
        <variable name="DOCKER_PASSWORD" secure="true">
          <encryptedValue>j3GKMoYM2Ek19aiw+JIKcQ==</encryptedValue>
        </variable>
        <variable name="RANCHER_SECRET_KEY" secure="true">
          <encryptedValue>HslTxzuUA17S5Tq52J0dr3x4swtHdmP73VbFhW/Woomz73bXZNq7OxnGQyHqnEta</encryptedValue>
        </variable>
      </environmentvariables>
      <agents>
        <physical uuid="40af2b01-4425-459c-ac40-04d23d072f44" />
      </agents>
      <pipelines>
        <pipeline name="TestTheEnvironment" />
        <pipeline name="DeployEnvironment" />
        <pipeline name="Application1" />
        <pipeline name="Application2" />
        <pipeline name="Application3" />
      </pipelines>
    </environment>
  </environments>
  <agents>
    <agent hostname="3bfbb8a2b3be" ipaddress="172.17.0.3" uuid="40af2b01-4425-459c-ac40-04d23d072f44" />
  </agents>
</cruise>
